/* Style for the post details container */
.post-details {
  background-color: #FAF9F6;
  margin: 0 25px; /* Add a 25px margin on both sides of each post */
  padding-bottom: 20px; /* Add padding to the bottom of each post */
  overflow-y: auto;
  position: relative; /* Ensure relative positioning for absolute positioning of the date */
}

/* Style for the date posted */
.post-details .date-posted {
  position: absolute;
  bottom: 10px; /* Adjust as needed */
  left: 50%; /* Position at the center horizontally */
  transform: translateX(-50%); /* Center horizontally */
}

.metadata {
  overflow-y : visible; 
}

.content {
  overflow-y : visible; 
}

/* Assuming you have a CSS file linked to your component */

/* Style for the like button and comment button container */
/* Style for the like button and comment button container */
.post-details .button-container {
  display: flex; /* Use flexbox */
  justify-content: space-between; /* Place buttons at each end of the container */
}

/* Style for the like button */
.post-details .like-button {
  background-color: #094a91; /* Blue (Bootstrap primary color) */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 120px; /* Set width for the like button */
}

.post-details .comments-button {
  background-color: #094a91; /* Blue (Bootstrap primary color) */
  border: none;
  color: white;
  padding: 10px 30px; /* Longer padding for the comment button */
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  width: 120px; /* Set width for the comment button */
}

.post-details .comments-button:hover {
  background-color: #DAA907; /* Darker blue */
  color: black;
}


/* Style for the like button on hover */
.post-details .like-button:hover{
  background-color: #DAA907; /* Darker blue */
  color: black;
}
  