/* sidebar.css */

/* Adjust the width of the sidebar */
.sidebar {
  position: fixed; /* Set sidebar to fixed position */
  top: 0; /* Position sidebar at the top of the viewport */
  left: 0; /* Position sidebar at the left side of the viewport */
  width: 25%; /* Set width of sidebar to 25% */
  height: 100vh; /* Set height of sidebar to full viewport height */
  background-color: #f5f4f4; /* Example background color */
  justify-content: flex-start;
  align-items: flex-end;
  overflow: hidden; /* Hide any overflowing content */
}

.sidebar-button {
  display: block;
  width: 90%; /* Make buttons fill the entire width of the sidebar */
  padding: 20px;
  margin-bottom: 10px;
  background-color: #094a91;
  border: none;
  cursor: pointer;
  text-align: center; /* Center align the text */
  text-decoration: none; /* Remove underline */
  color: #ffff; /* Set text color */
}

.sidebar-button:hover {
  background-color: #DAA907;
  color: black;
}

.blog-check {
  margin-bottom: 20px;
}

.sidebar-button:focus {
  outline: none;
}

.submit-button {
  margin-top: 10px; 
  margin-bottom: 10px;
}
