/* Post.css */

/* Main content area */
.main-content {
    margin-left: 25%; /* Set left margin to accommodate the sidebar */
    width: 75%; /* Set width to 75% of the viewport */
    height: 100vh; /* Set height to full viewport height */
    background-color: #ffff; /* Set background color */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
  }
  
  /* Styles for post content */
  .blog {
    padding: 20px; /* Add padding to the post content */
    overflow: hidden; /* Hide any overflowing content */
    color: #002454; /* Set text color to yellow */
  }


  .blog-button {
    color: #ffffff;
    background-color: #094a91;
  }

  .blog-button:hover {
    background-color: #DAA907;
    color: black;
  }
  
  .blog-title {
    font-size: 24px; /* Example font size for post title */
    margin-bottom: 10px; /* Add margin below post title */
  }
  
  .blog-content {
    line-height: 1.6; /* Example line height for post content */
  }
  
  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .main-content {
      margin-left: 0; /* Reset left margin for small screens */
      width: 100%; /* Set width to 100% for small screens */
    }
  }
  