.comments-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  padding: 20px;
  overflow-y: auto; 
}

.sidebar {
  flex: 1; /* Take up 1/3 of the available space */
  margin-right: 20px;
}

.main-content {
  flex: 2; /* Take up 2/3 of the available space */
  color: #002454; /* Set text color to yellow */
  overflow-y: auto; 
  width: fit-content;
  block-size: fit-content;
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.comment-button {
  color: #ffffff;
  background-color: #094a91;
}

.comment-button:hover {
  background-color: #DAA907;
  color: black;
}
.comment {
  background-color: #FAF9F6;
  border: 2px solid #002454;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.comment p {
  color: #002454; /* Set text color to yellow */
}

.comment-metadata {
  margin-top: 10px;
  font-style: italic;
  color: #002454; /* Set text color to yellow */
}
