.blogPosts {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Align items at the top */
    padding: 20px;
    overflow-y: auto;
  }
  
  .sidebar {
    flex: 1; /* Take up 1/3 of the available space */
    margin-right: 20px;
  }
  
  .main-content {
    flex: 2; /* Take up 2/3 of the available space */
    color: #002454; /* Set text color to yellow */
    overflow-y: auto;
    width: fit-content;
    block-size: fit-content;
  }
  
  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .post-details {
    background-color: #FAF9F6;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-bottom: 20px;
  }
  
  .post-details h3 {
    margin-bottom: 10px;
    color: #002454; /* Set text color to yellow */
  }
  
  .post-details p {
    color: #002454; /* Set text color to yellow */
  }
  
  .post-details .author {
    font-style: italic;
  }
  