.post {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Align items at the top */
  padding: 20px;
}

.sidebar {
  flex: 1; /* Take up 1/3 of the available space */
  margin-right: 20px;
}

.main-content {
  flex: 2; /* Take up 2/3 of the available space */
  color: #FAC01A; /* Set text color to yellow */
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.post-details {
  background-color: #3366d5d8;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;

}

.post-details h2 {
  margin-bottom: 10px;
  color: #FAC01A; /* Set text color to yellow */
}

.post-details p {
  color: #FAC01A; /* Set text color to yellow */
}

.post-details .author {
  font-style: italic;
}
