/* Profile container */
.profile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

/* Main content area */
.main-content {
  flex: 1; /* Take remaining space */
  max-width: 800px; /* Limit width */
}

.profile-button {
  color: #ffffff;
  background-color: #094a91;
}

.profile-button:hover {
  background-color: #DAA907;
  color: black;
}
/* Profile info */
.profile-info {
  background-color: #FAF9F6; /* White background color */
  border-radius: 8px; /* Add border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
  padding: 20px; /* Add padding */
  margin-bottom: 20px; /* Add margin bottom */
  border: 2px solid #002454;
/* Container for bio box and add friend box */
}
.bio-and-friend-container {
  display: flex; /* Use flexbox */
}

/* Styles for bio box */
.bio-box {
  flex: 1; /* Take equal space */
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin-right: 20px; /* Add some space between boxes */
}

.bio-box h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black;
}

.bio-box p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}


.bio-box button:hover {
  background-color: #E0A800;
}

.bio-box button:focus {
  outline: none;
}

/* Styles for add friend box */
.add-friend-box {
  flex: 1; /* Take equal space */
  background-color: #f8f8f8;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
}

.add-friend-box h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: black;
}

.add-friend-box p {
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.add-friend-box button {
  background-color: #FAC01A;
  color: #000;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease;
}

.add-friend-box button:hover {
  background-color: #E0A800;
}

.add-friend-box button:focus {
  outline: none;
}

/* Friends list area */
.friends-list {
  flex: 1; /* Take remaining space */
  max-width: 300px; /* Limit width */
  margin-left: 20px; /* Add left margin */
  color: #002454; /* Set text color to yellow */
}

/* Styles for profile title */
.profile-title {
  font-size: 24px; /* Example font size for profile title */
  margin-bottom: 20px; /* Add margin bottom */
  color: #002454; /* Set text color to dark gray */
}

/* Styles for h2 in friends list */
.friends-list h2 {
  color: #002454; /* Set text color to yellow */
}

.add-friend h2{
  color: #002454; /* Set text color to yellow */
}
