/* Profile container */
.profile {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 20px;
}

/* Main content area */
.main-content {
  flex: 1; /* Take remaining space */
  max-width: 800px; /* Limit width */
}

/* Profile info */
.profile-info {
  background-color: #FAC01A; /* White background color */
  border-radius: 8px; /* Add border radius */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow */
  padding: 20px; /* Add padding */
  margin-bottom: 20px; /* Add margin bottom */
}

/* Bio box */
.bio-box {
  background-color: #f5f5f5; /* Light background color */
  border-radius: 8px; /* Add border radius */
  padding: 20px; /* Add padding */
  margin-bottom: 20px; /* Add margin bottom */
}

/* Bio box */
.bio-box p, h3{
  background-color: #f5f5f5; /* Light background color */
  border-radius: 8px; /* Add border radius */
  padding: 20px; /* Add padding */
  margin-bottom: 20px; /* Add margin bottom */
  color: black
}

/* Friends list area */
.friends-list {
  flex: 1; /* Take remaining space */
  max-width: 300px; /* Limit width */
  margin-left: 20px; /* Add left margin */
}

/* Styles for post content */
.profile-title {
  font-size: 24px; /* Example font size for profile title */
  margin-bottom: 20px; /* Add margin bottom */
  color: #FAC01A; /* Set text color to dark gray */
}

/* Make h2 tag yellow */
.friends-list h2 {
  color: #FAC01A; /* Set text color to yellow */
}
