/* App.css */


.App {
  display: flex;
  height: 100vh;
  background-color: white; /* Set background color of the entire layout to white */
  overflow: hidden; /* Prevent content from overflowing horizontally */
}

.blog {
  position: relative; /* Set relative positioning for the blog container */
  display: flex;
  flex: 1;
}
  
/* Adjust the width of the main-feed */
.main-feed {
  flex: 1; /* Take up remaining space */
  padding: 20px; /* Add padding to the main feed */
  margin-left: 25%; /* Adjust margin to make space for the fixed sidebar */
  margin-right: 25%; /* Adjust margin to make space for the fixed search bar */
  overflow-y: auto; /* Enable vertical scrolling if content overflows */
}
  
  .main-feed h1 {
    text-align: center;
  }

  .main-feed h1 {
    text-align: center; /* Center align the title "Posts" */
  }

  /* Adjustments for smaller screens */
  @media (max-width: 768px) {
    .blog {
      flex-direction: column;
    }

    .sidebar, .main-feed, .search-bar {
      position: static; /* Reset positioning for small screens */
      width: 100%;
      height: auto;
      border: none; /* Remove borders for small screens */
      margin: 0; /* Reset margin */
    }
  }
  